@import "bootstrap/scss/bootstrap";
@import "partial/auth";
@import "./partial/sidebar";
@import "./partial/navbar";
@import "./partial/layout";
@import "./partial/cursor";
@import "./partial/form";

root {
  width: 1440px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F4F6F9;
}