$height-login: 900px;
$width-login: 624px;

.auth-container {
  min-height: 100vh;
  height: $height-login;
  width: $width-login;
}

.image-container {
  height: $height-login;
}

.image-content{
  top: 682px;
  left: 75px;
  p {
    font-size: 24px;
  }
  h1 {
    font-size: 34px;
  }
}