.form-container {
  padding: 20px;
  border-radius: 8px;

  h2 {
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  .required {
    font-size: 0.8rem;
    color: #dc3545;
    font-weight: 600;
    margin-left: 5px;
  }

  .featuredImageBtn {
    color: #007bff;
    text-decoration: underline;
  }
}
